html,
body {
        width: 100%;
        height: 100%;
}

.wrapper {
        aspect-ratio: 1440/900;
}

.header {
        width: 100%;
        height: 10%;
}


.header_inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2.2%;
        box-sizing: border-box;
}

.header-logo {
        width: 13%;
        height: 100%;
}

.header-logo h1 {
        width: 100%;
        height: 100%;
        font-size: 2.3vw;
        margin-left: 5%;
}

.header-nav {
        width: 33%;
        height: 100%;
}

.header-nav-list {
        display: flex;
        margin-top: 2%;
        justify-content: space-between;
}

.header-nav-list li {
        font-size: 1.3vw;
        margin-right: 2%;
        display: flex;
        align-items: center;
}

.header-nav-btn {
        font-size: 1.3vw;
        border: none;
        line-height: 0%;
}

.header-nav-item a {
        color: black;
}

.header-nav-item a:hover {
        opacity: 0.6;
}

.header-nav-btn:hover {
        opacity: 0.6;
}

.main {
        width: 100%;
        height: 83%;
        display: flex;
        background-color: aliceblue;
}

.stamp_inner {
        width: 75%;
        height: 100%;
        margin: 0 auto;
}

.stamp_inner h1 {
        font-size: 1.7vw;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20%;
}

.stamp_box {
        width: 100%;
        height: 60%;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.stamp_box-top,
.stamp_box-bottom {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: space-between;
}

.stamp_box-top form,
.stamp_box-bottom form {
        width: 47%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.stamp_form-btn {
        width: 100%;
        height: 100%;
        background-color: white;
        border-color: white;
        font-size: 1.6vw;
        font-weight: bold;
}

.stamp_form-btn:hover {
        background-color: antiquewhite;
}

.footer {
        height: 7%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.footer p {
        font-size: 1.2vw;
        font-weight: 600;
}